# Load Balancer Configuration
LB_HOST=localhost
LB_PORT=3000
LB_BACKLOG=10

# Comma-separated list of backend servers (host:port)
LB_SERVERS=localhost:8000,localhost:8001,localhost:8002,localhost:8003

# Round-robin quantum
LB_QUANTUM=2
